<h1>キャンプ場一覧</h1>
<a href="/campgrounds/new" class="btn btn-secondary">新規登録</a>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <% for(item of data) { %>
  <div class="col">
    <div class="card h-100">
      <% if(item.images) { %>
      <img
        src="<%= item.images[0].url %>"
        alt=""
        width="400"
        height="300"
        style="width: 100%; object-fit: cover; height: auto; aspect-ratio: 4 /3"
      />
      <% } %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text">場所：<%= item.location %></p>
        <p class="card-text"><%= item.description %></p>
        <a href="/campgrounds/<%= item.id %>" class="btn btn-info mt-auto"
          >View</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
